.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.blog-post-title {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}