<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>Login page</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">My server</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
</nav>
<div class="container">
    <h1>Enter username and text:</h1>
    <br>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="">
        <input type="password" placeholder="Input text" name="body" value="">
        <input class="btn btn-default" type="submit" value="Submit post">
    </form>
    {% if error_msg %}
    <br>
    <p class="error"><strong>Error: {{error_msg}}</strong></p>
    {% endif %}
</div>
</body>
</html>